.panel.mod-splash {
  background: antiquewhite;
}

  .splash-headings {
    text-align: center;
  }

  .splash-heading-name {
    font-size: 500%;
    font-family: "Helvetica Neue", helvetica, sans-serif;
    font-weight: 100;
  }

  .splash-heading-sub {
    font-family: "Helvetica Neue", helvetica, sans-serif;
    font-weight: 100;
  }